<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='javascript/main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/bylabel.js') }}" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="bylabels_div">
        {% for fiche in fiches %}

        <div class="data-card {% if loop.index != 1 %}inactive{% endif %}" data-fiche='{{ fiche | tojson }}'>
            <div class="pass">
                <button class="previous"> <  </button>
                <button class="next"> >  </button>
            </div>
            
            <div class="button-div">
                <button class="completionButton">Add Completion</button> 
                <button class="deleteButton" >Delete</button>  
            </div>
            <h2>{{fiche['title']}}</h2>
            <div class="textarea_container">
                <textarea  class="text" id={{fiche['id']}}>{{ fiche['text'] }}</textarea>
            </div>
        <div>
                        {% set encoded_label = fiche['label']|urlsafe_b64encode %}
            <a href="/withlabel/{{ encoded_label }}" class="fiche_link">{{fiche['label']}}</a>
        </div>
        </div> 
        {% endfor%}
    </div>
    
</body>
</html>