<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</head>
<body>
        <div class="data-card">
            <div class="button-div">
                <button id="create_button">Update</button> 
                <button id="competion_button">Add Completion</button> 
                <button id="delete_button" >Delete</button>  
            </div>
            <h2>{{fiche['title']}}</h2>
            <div class="textarea_container">
                <textarea  class="text">{{ fiche['text'] }}</textarea>
            </div>
        <div>
            <a href="/withlabel/{{fiche['labels']}}" class="fiche_link">{{fiche['labels']}}</a>
        </div>
        </div>
</body>
</html>
