<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</head>
<body>
    <h1> Ma fiche </h1>
    <div class="data-container">
        {% for item in data %}
        <div class="data-card">
            <h2>{{item['title']}}</h2>
            <div class="text">{{ item['text'] }}</div>
            <div>
                   {% for lab in item["labels"] %}
                    <p>{{lab['name']}}</p>
                  {% endfor %}  
            </div>
        </div>
       
        {% endfor %}
    </div>
</body>
</html>