<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Acceuil</title>
</head>
<body>
    <header>
        <ul class="header_ul">
            <li> <a href="">Hot topics</a> </li>
            <li> <a href="">Search</a> </li>
        </ul>
    </header>
    <main>
        <div>
            <h1> Last cheet </h1>
        </div>
    </main>
    
    
</body>
</html>