<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="label_container">
        {% for label in labels %}
            {% set encoded_label = label['name']|urlsafe_b64encode %}
            <a href='/label/{{ encoded_label }}' class="label_card"> {{ label['name'] }}</a>
        {% endfor %}
    </div>
    
</body>
</html>